/* Tag Selectors */
body{
    background: #fff;
    margin: 0;
    padding:0;
    font-family: 'Arima Madurai', cursive;
    color: #1D2323;
    font-size: 1.2rem;
}

h1{
    font-size: 3rem;
}
h2{
    font-family: 'Caveat',cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2%;
}
h3{
    font-family: 'Poiret One',cursive;
    font-size: 2rem;
    font-weight: 700;
    
}
a{
    color:white;
    
}

/* Class Selectors */   


.jumbotron{
    background-image: url('https://images.unsplash.com/photo-1517547196086-e63b7ae6afb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0% 0% 0% 0%; 
    padding-top: 7%;
    padding-bottom: 7%;
    text-align: center;
    color: #fff;

}
.story{
    padding: 5% 15% 5% 15%;   
    text-align: justify;
}
.blue{
    background: #E1F4F3;
}
.light{
    background: #f5f7fa;
    color: #1D2323;

}
.dark{
    background: black;
    color: #fff;
}

.card{
    opacity: 0.7;
    background-color: black;
    color: white;
    min-height: 20rem;
    text-align: center  ;

}
.card-header{
    opacity:1;
    color: #E1F4F3;
}
.heads{
    margin:auto auto;
    padding-top:5%;
    padding-bottom: 5%;
}

/* ID Selectors */

#footer{
    color: #f5f7fa;
    padding: 7%;
}
#profile_img{

    margin:auto auto auto auto;
    text-align: center;
    width: 80%;
    padding:1%;
}

#title{
    padding: 3%;
    text-align: center;
    margin:auto auto;
    color:#2c3e50;
    font-family: 'Delius', cursive;
}

#projects{
    background: url('https://images.unsplash.com/photo-1597839219216-a773cb2473e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#skills{
    padding:7%;
    margin-left: 10%;
    margin-right: auto;
}
